html, body{
  height: 100%;
  width: 100%;
  font-family: serif;
  margin: 0px;
  padding: 0px;


}

#heading h1{
  text-align: center;
  margin: 35px 25px 0px;
  border-bottom: 2px solid;
}

#slides{
  margin: 50px 150px 60px;
}


#Image{
margin: 0px 50px 0px;

}
.detailvenue{
  padding: 0px 30px;
  margin: 0px 120px 80px;
  text-align: center;
  background-color: #F2E5D2;
  box-shadow: 2px 2px 20px 8px #DBDBDB;
}

.hall{
  text-align: center;
  padding-top: 20px;
}

#inner{
  padding: 0px 200px;
}
